{% extends "base.html" %}

{% block content %}

     <div class="row">
        <div class="col-lg-5 col-centered" style="margin-left: 400px">

        <h2 style="margin-left: 20px" >Reset Your Password</h2>
            <form method="post" action="." style="margin-left: -30px">
                <p> An email will be sent to you with a link to reset your password.</p>
                {% csrf_token %}
                {{ form.as_p }} <input type="submit" value="Submit">
            </form>

        </div>
     </div>

{% endblock %}
