{% load i18n future staticfiles %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}</title>

    <meta name="author" content="Yeti LLC">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{% static 'css/reveal.css' %}">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="{% static "css/zenburn.css" %}">

    <!-- For sidebar jquery ui -->
    <link rel="stylesheet" href="{% static "css/jquery-ui.theme.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui.structure.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "css/sidebar.css" %}">

    <link rel="stylesheet/less" type="text/css" media="all" href="{% static "less/style.less" %}" />

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
        if( window.location.search.match( /print-pdf/gi ) ) {
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = '/static/css/print/pdf.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        }
    </script>

    <script>
        less = {
            logLevel: 0
        }
    </script>

    <script src="{% static "js/less-1.7.0.min.js" %}"></script>
    <script src="{% static "js/jquery-1.11.1.js" %}"></script>
    <script src="{% static "js/sidebar.js" %}"></script>
    <script src="{% static "external/jquery/jquery.js" %}"></script>
    <script src="{% static "js/jquery-ui.js" %}"></script>


</head>

<body class="{% block body_css %}{% endblock body_css %}">
<div class="reveal">
    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="col-9">
        <div class="slides">
            <div id="runningTitle">

            <script>




            </script>




                <div class="col-7">
                    <a href="#">{% block running_title %}{% endblock %}</a>
                </div>
                <div class="col-5">
                    <a href="{% url "slides_home" %}" id="rocketULogo"><img class="pull-right" src="{% static "img/rocketu-logo-dark.png" %}"></a>
                </div>

            </div>
                {% block title_slide %}
                    <section class="titleSlide" data-background="#168eae">
                        <h1>{% block presentation_title%}{% endblock %}</h1>
                        <a id="yetiLogo" href="http://www.yetihq.com/"><img src="{% static "img/yeti-power.png" %}"></a>
                    </section>
                {% endblock %}
                {% block slides %}
                {% endblock %}

            <div class="footer">
            </div>
        </div>
    </div>
    <div class="col-3" id="sidebar-col-2" style="z-index: 10000 !important;">
        {% block sidebar %}
            <section>
            <div id="displayResource">
{#                <h6 id="resourceTitle">Resources</h6>#}
{#                <button type="button" id="add_resource">Add +</button>#}
{#                <div id="accordion"></div>#}
                <div id="side_table_header">
                    <table id="side_header">
{#                       <tr><th>Resources </th>#}
{#                           <th><button type="button" id="add_resource">Add +</button></th>#}
{#                       </tr>#}
{#                        <tr><td style="align-content: center; vertical-align: middle">Resources</td><td><button type="button" id="add_resource">Add +</button></td></tr>#}
                        <tr><td style="border-left: 1px solid #d3d3d3">Resources</td><td><button type="button" id="add_resource">Add +</button></td></tr>

                    </table>
                </div>
                <div id="side_table">
                    <table>
                    </table>
                </div>
        </div>
            <div class="form-holder" id="form-holder"></div>
            </section>
        {% endblock sidebar %}
    </div>
</div>

    <script src="{% static "js/head.min.js" %}"></script>
    <script src="{% static "js/reveal.js" %}"></script>
    <script src="{% static "js/resources.js" %}"></script>

    <script>
        // Full list of configuration options available here:
        // https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            width: 1000,
            height: 750,
            controls: true,
            progress: true,
            history: true,
            center: false,
            slideNumber: true,

			theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
            transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none

            // Parallax scrolling
            // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
            // parallaxBackgroundSize: '2100px 900px',

            // Optional libraries used to extend on reveal.js
            dependencies: [
                { src: '{% static "js/classList.js" %}', condition: function() { return !document.body.classList; } },
                { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                { src: '{% static "plugin/highlight/highlight.js" %}', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                { src: '{% static "plugin/zoom-js/zoom.js" %}', async: true, condition: function() { return !!document.body.classList; } },
                { src: '{% static "plugin/notes/notes.js" %}', async: true, condition: function() { return !!document.body.classList; } }
            ]
        });

    </script>

    <script src="{% static "js/slides.js" %}"></script>

</body>
</html>