{% extends 'base.html' %}
{% load staticfiles %}

{% block title_slide %}
{% endblock %}

{% block running_title %}
Welcome to RocketU
{% endblock %}

{% block slides %}
    <section>
        <div>
            <a href="{% url 'login' %}">Login</a>
        </div>

        <p>New to class? Sign up below</p>
        <form method="post" action=".">
            {%  csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Submit">
        </form>
    </section>
{% endblock slides %}


