{% extends 'base.html' %}
{% load staticfiles %}

{% block title_slide %}
{% endblock title_slide %}

{% block running_title %}

    Welcome to RocketU

{% endblock running_title %}

{% block title %}

    {% block presentation_title %}

        Welcome to RocketU

    {% endblock presentation_title %}
    <a href="{% url 'login' %}">Login</a>
{% endblock title %}



{% block slides%}
    <section>
        <hr>
        <h4>New to class? Sign up below</h4>
        <form style="margin-bottom:20px" enctype="multipart/form-data" method="post" action="{% url 'index' %}">
            {% csrf_token %}

            <table width= "100%" border="0" cellspacing="5" cellpadding="5" style="margin-left: 0px">
                {% for field in form %}
                    <tr><td style="padding: 5px;" width="100" align="right" valign="top">{{ field.label_tag }}</td>
                        <td align="left" valign="top"><span style="padding-left: 10px;">{{ field }}</span></td></tr>
                {% endfor %}
            </table>

            <input id="signUp" class="btn btn-default" type="submit" value="Sign Up" style="margin-left:130px; margin-top:-10px">
        </form>
    </section>
{% endblock %}

