{% extends "base.html" %}
{% load staticfiles i18n %}

{% block running_title %}
    Running Title
{% endblock %}
{% block presentation_title %}
    Presentation title
{% endblock %}


{% block slides %}

<section>
    <h2>Learn web development. Build awesome things.</h2>
    <p>
        You quit your job, you told your friends and family you're doing something crazy, maybe you moved here. You're ready to learn, intensively, for the next twelve weeks. By the time you're done, you'll be able to build pretty much anything you see on the internet.
    </p>

</section>

{% endblock %}
{% block sidebar %}
<p>test</p>
{% endblock sidebar %}