{% load i18n future staticfiles %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}</title>

    <meta name="author" content="Yeti LLC">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="{% static 'css/reveal.css' %}">

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
        if( window.location.search.match( /print-pdf/gi ) ) {
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = '/static/css/print/pdf.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        }
    </script>

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="{% static "css/zenburn.css" %}">

    <link rel="stylesheet/less" type="text/css" media="all" href="{% static "less/style.less" %}" />
    <script>
        less = {
            logLevel: 0
        }
    </script>
    <script src="{% static "js/less-1.7.0.min.js" %}"></script>

    <script src="{% static "js/jquery-1.11.1.js" %}"></script>
</head>

<body class="{% block body_css %}{% endblock body_css %}">
<div class="reveal">
    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="col-12">
        <div class="slides" style="margin-top:40px">
            <div id="runningTitle">
                <div class="col-7">
                    <a href="#">Lectures & Materials</a>

                </div>
                <div class="col-5" style="margin-top:-15px">
                    <a href="{% url "slides_home" %}" id="rocketULogo"><img class="pull-right" src="{% static "img/rocketu-logo-dark.png" %}"></a>

                </div>
            </div>

            <section>
                <h2>Week 2


                <hr style="margin-bottom: -20px">

                </h2>
                <dl><a href="{% url "week2_day1_am" %}">File Manipulation</a></dl>
                <dl><a href="{% url "week2_day1_pm" %}">Regex & CSV</a></dl>
                <dl><a href="{% url "week2_day2_am" %}">Intro to Databases: Tables and Queries</a></dl>
                <dl><a href="{% url "week2_day2_pm" %}">Intro to Databases: Functions & Relationships</a></dl>
                <dl><a href="{% url "week2_day3_am" %}">ORM: Intro to Models</a></dl>
                <dl><a href="{% url "week2_day3_pm" %}">ORM: Models and Relationships</a></dl>
                <dl><a href="{% url "week2_day4_am" %}">Django Admin</a></dl>
                <dl><a href="{% url "week2_day4_pm" %}">Migrations</a></dl>
                <dl><a href="{% url "week2_day5_am" %}">Introduction to Web Frameworks and Django URLS, views, and templates</a></dl>
                <dl><a href="{% url "week2_day5_pm" %}">Basic Django App: index, create, detail</a></dl>
            </section>
            <div class="footer">
            </div>

        </div>
    </div>

</div>

<script src="{% static "js/head.min.js" %}"></script>
<script src="{% static "js/reveal.js" %}"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        width: 1170,
        height: 750,
        controls: true,
        progress: true,
        history: true,
        center: false,
        slideNumber: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
            { src: '{% static "js/classList.js" %}', condition: function() { return !document.body.classList; } },
            { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '{% static "plugin/highlight/highlight.js" %}', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: '{% static "plugin/zoom-js/zoom.js" %}', async: true, condition: function() { return !!document.body.classList; } },
            { src: '{% static "plugin/notes/notes.js" %}', async: true, condition: function() { return !!document.body.classList; } }
        ]
    });

</script>

<script src="{% static "js/slides.js" %}"></script>

</body>
</html>